body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.table-container {
  width: 75%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 260px;
  margin-top: 20px;
  overflow-x: auto; /* Tambahkan ini untuk scroll horizontal */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  min-width: 800px; /* Tentukan lebar minimum agar tabel tidak terlalu kecil */
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.styled-table td img {
  border-radius: 5px;
  max-width: 50px;
  height: auto;
}

.styled-table button.decline,
#confirm_modal button.decline {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.styled-table button.decline:hover,
#confirm_modal button.decline:hover {
  background-color: #cc0000;
}

.styled-table button,
#confirm_modal button {
  background-color: #009879;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.styled-table button:hover,
#confirm_modal button:hover {
  background-color: #007a63;
}

.menu.active {
  background-color: #3abef9;
  color: #ffffff;
}

/* Paginator styling */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  list-style-type: none;
  margin-left: 220px;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination a {
  color: #009879;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #009879;
  color: white;
  border: 1px solid #009879;
}

.pagination a:hover:not(.active) {
  background-color: #dddddd;
  color: #009879;
}

.text-center {
  text-align: center;
}

#confirm_modal #cancel_button {
  background-color: #f1f1f1;
  color: #222;
}

.j {
  margin-left: 260px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
}
.s {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 260px;
  margin-top: 10px;
}
.se {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-left: 530px;
  margin-top: 10px;
  padding-left: 10px;
}

/* //css karyawan.php */
.data {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 260px;
  margin-top: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .j {
    margin-left: 15px;
  }
  .s {
    margin-left: 15px;
  }

  .table-container {
    margin-left: 15px;
    width: 95%;
  }
  .se {
    margin-left: 15px;
    width: 100px;
  }
  .pagination {
    margin-left: 15px;
  }
  .data {
    margin-left: 15px;
    width: 95%;
  }
}
